
.banner1{
    
    height: 150px;
    background-color: rgb(192, 148, 29);
    clip-path: polygon(100% 0, 70% 0, 80% 50%, 70% 100%, 100% 100%);

}
.backgroundImage{
    height: 150px;
    background-image: url(../img/banner3.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

}

